body {
    background-color:black;
    color: magenta;
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Arial', sans-serif;
}

.everything {
    text-align: center;
    }

img {
    padding: 10px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.untitledimg {
    height: 100px;
}