body {
    background-color:black;
    color: whitesmoke;
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Arial', sans-serif;   
}

.everything-else {
text-align: center;
}

.everything-else2 {
    text-align: center;
    }
  
img {
    padding: 10px; 
  }

iframe {
    margin: auto;
}

.pimg, .bimg { 
    display: flex;
}

.cimg img {
    margin-right: 10px;
    display: block;
  }