body {
    background-color:black;
    color: whitesmoke;
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Arial', sans-serif;   
}

body {
text-align: center;
}
  
img {
    padding: 10px; 
  }

iframe {
    margin: auto;
}

.imgwt {
    display: flex;
    align-items: center;
  }

.imgwt img {
    margin-right: 10px;
}