body {
    color: whitesmoke;
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Arial', sans-serif;   
    background-image: url('images/HI_C02_0_2024-08-13_10-21-41.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.everything-else {
  text-align: center;
}

.everything-else2 {
    text-align: center;
    }
  
img { 
    padding: 10px;
  }

iframe {
    margin: auto;
}

.pimg, .bimg { 
    display: flex;
}

.cimg img {
    margin-right: 10px;
    display: block;
  }

  a {
    color:white;
    text-decoration: underline;
  }

  a:hover {
    color:grey;
  }

  .bigbeta {
    height: 60px;
  }

  .bigplaytest {
    height: 150px;
  }

  dfn {
    color:magenta;
    text-decoration:underline;
    text-decoration-style: dotted;
  }

  .mothertext {
    color:magenta;
    text-decoration-style: dotted;
  }